<div class="unit-details-editor">
  <div class="panel panel-primary">
    <div class="panel-heading" *ngIf="unit.id == -1">
      <h3 class="panel-title">Create Unit</h3>
      Create a new unit with all overview unit details here.
    </div>
    <div class="panel-heading" *ngIf="unit.id != -1">
      <h3 class="panel-title">Update Unit</h3>
      Update overview details of the unit below.
    </div>
    <form
      class="form-horizontal"
      role="form"
      name="unitForm"
      #unitForm="ngForm"
      (ngSubmit)="saveUnit()"
    >
      <div class="panel-body">
        <div class="form-group">
          <label class="col-sm-2 control-label" for="code">Code</label>
          <div class="col-sm-9">
            <input class="form-control" id="code" name="unitCode" type="text" placeholder="COS1234567" [(ngModel)]="unit.code" />
          </div>
        </div>
        <!--/code-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="name">Name</label>
          <div class="col-sm-9">
            <input
              name="unitName"
              id="name"
              type="text"
              class="form-control"
              [(ngModel)]="unit.name"
              placeholder="Introduction to {{externalName.valueOf}}"
            />
          </div>
        </div>
        <!--/name-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="description">Description</label>
          <div class="col-sm-9">
            <textarea
              name="unitDescription"
              id="description"
              class="form-control"
              [(ngModel)]="unit.description"
            ></textarea>
          </div>
        </div>
        <!--/description-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="teachingPeriod">Teaching Period</label>
          <div class="col-sm-9">
            <object-select
              [source]="teachingPeriodValues"
              [target]="unit.teachingPeriod"
              (target-change)="teachingPeriodSelected($event)"
              label="Select Teaching Period"
            />
          </div>
        </div>
        <!--/teaching-period-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="">Draft Learning Summary</label>
          <div class="col-sm-9">
            <object-select [source]="taskDefinitionValues" [target]="unit.draftTaskDefinition" (target-change)="draftTaskDefSelected($event)" label="Select Learning Summary Task"  />

            <span class="help-block">
              When a draft learning summary task is selected, this will ensure a students uploaded draft is
              automatically added to the students portfolio.
            </span>
          </div>
        </div>
        <!--/draft-learning-summary-->

        <div class="form-group">
          <label tooltip="Date for the start of teaching in the unit." class="col-sm-2 control-label" for="startDate"
            >Start Date</label
          >
          <div class="col-sm-9">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="startDate"
                required="!unit.teachingPeriod"
                name="unitStartDate"
                [(ngModel)]="unit.startDate"
              />
              <mat-datepicker-toggle matIconSuffix [for]="startDate"></mat-datepicker-toggle>
              <mat-datepicker #startDate></mat-datepicker>
            </mat-form-field>
        </div>
        </div>
        <!--/start-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="endDate">End Date</label>
          <div class="col-sm-9">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="endDate"
                required="!unit.teachingPeriod"
                name="endDate"
                [(ngModel)]="unit.endDate"
              />
              <mat-datepicker-toggle matIconSuffix [for]="endDate"></mat-datepicker-toggle>
              <mat-datepicker #endDate></mat-datepicker>
            </mat-form-field>
        </div>
        </div>
        <!--/end-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="portfolioautogenerationdate">Portfolio auto-generation date</label>
          <div class="col-sm-9">
            <mat-form-field>
              <input
                matInput
                [matDatepicker]="portfolioautogenerationdate"
                name="portfolioAutoGenerationDate"
                [(ngModel)]="unit.portfolioAutoGenerationDate"
              />
              <mat-datepicker-toggle
                matIconSuffix
                [for]="portfolioautogenerationdate"
              ></mat-datepicker-toggle>
              <mat-datepicker #portfolioautogenerationdate></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
        <!--/portfolio-auto-generation-date-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Allow student extensions</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              [(ngModel)]="unit.allowStudentExtensionRequests"
              name="allowStudentExtensionRequests"
            ></mat-slide-toggle>
            <span class="help-block"> When false only staff can request extensions on behalf of students. </span>
          </div>
        </div>
        <!--/allowStudentExtensionRequests-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="code">Extension duration on resubmit</label>
          <div class="col-sm-9">
            <input
              name="extensionRequest"
              class="form-control"
              id="code"
              type="number"
              placeholder="1"
              [(ngModel)]="unit.extensionWeeksOnResubmitRequest"
            />
            <span class="help-block">
              When tutors request resubmission of a task, this setting determines how many weeks the task will be
              extended to allow students to fix and resubmit their work.
            </span>
          </div>
        </div>
        <!--/extensionWeeksOnResubmitRequest-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Auto apply extensions</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="autoApplyExtensionBeforeDeadline"
              [(ngModel)]="unit.autoApplyExtensionBeforeDeadline"
            ></mat-slide-toggle>
            <span class="help-block">
              When true, extensions will be automatically applied when they result in a date that is between the task's
              due date and deadline.
            </span>
          </div>
        </div>
        <!--/auto apply extension-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Allow students to change tutorial</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="allowStudentChangeTutorial"
              [(ngModel)]="unit.allowStudentChangeTutorial"
            ></mat-slide-toggle>
             <span class="help-block"> When false only staff can change student tutorials. </span>
          </div>
        </div>
        <!--/allowStudentChangeTutorial-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Send notification emails</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="sendNotifications"
              [(ngModel)]="unit.sendNotifications"
            ></mat-slide-toggle>
            <span class="help-block">
              When true, emails will be set to students each week to indicate progress and suggest future tasks for them
              to work on.
            </span>
          </div>
        </div>
        <!--/sendNotifications-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Synchronise enrolments</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="enableSyncEnrolments"
              [(ngModel)]="unit.enableSyncEnrolments"
            ></mat-slide-toggle>
            <span class="help-block">
              When true student enrolments will be synchronised with other systems where this is possible.
            </span>
          </div>
        </div>
        <!--/syncEnrolments-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Synchronise Timetable</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="enableSyncTimetable"
              [(ngModel)]="unit.enableSyncTimetable"
            ></mat-slide-toggle>
            <span class="help-block">
              When true timetable data will be synchronised with other systems where this is possible.
            </span>
          </div>
        </div>
        <!--/syncTimetable-->

        <div class="form-group" *ngIf="overseerEnabled">
          <label class="col-sm-2 control-label">Overseer Assessment</label>
          <div class="col-sm-9">
            <mat-slide-toggle
              name="assessmentEnabled"
              [(ngModel)]="unit.assessmentEnabled"
            ></mat-slide-toggle>
            <span class="help-block">
              If true, unit tasks will be able to make use of Overseer automated checking.
            </span>
          </div>
        </div><!--/task-assessment-enabled-->

        <div class="form-group" *ngIf="overseerEnabled">
          <label class="col-sm-2 control-label">Docker Image Name</label>
          <div class="col-sm-9">
            <!--select class="form-control" [(ngModel)]="unit.overseerImageId" ng-options="image as image.description for image in dockerImages" /-->
          <select [(ngModel)]="unit.overseerImage">
                <option *ngFor="let image of dockerImages" [ngValue]="c">{{image.description}}</option>
           </select>
            <span class="help-block">
              Use this to select the default container used to check tasks with Overseer.
            </span>
          </div>
        </div> <!--/docker-image-name-->

        <div class="form-group">
          <label class="col-sm-2 control-label" for="enddate">Active</label>
          <div class="col-sm-9">
            <mat-slide-toggle name="active" [(ngModel)]="unit.active"></mat-slide-toggle>
            <span class="help-block">
              Set to false to hide unit from students and tutors.
            </span>
          </div>
        </div>
        <!--/active-->
      </div>
      <div class="panel-footer text-right">
        <a class="btn btn-success" (click)="goRollover()">
          <header>Rollover</header>
        </a>
        <input
          type="submit"
          value="{{ unit.id == -1 ? 'Create' : 'Update' }}"
          class="btn btn-success"
        />
      </div>
    </form>
  </div>
</div>
